.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.chart, .tooltip, .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}

.tooltip rect {
	opacity: 0.7;
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
}